---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & { active: boolean };

const { href, class: className, active, ...props } = Astro.props;
---

<a
  href={href}
      class:list={[
      className,
      active
        ? "text-[var(--fg)] font-semibold"
        : "text-[var(--fg)]",
    ]}
  {...props}
>
  <slot />
</a>
