---
import { SITE, BASE } from "../config";
const { tag } = Astro.props;
---

<a
      href={SITE + BASE + "tags/" + tag}
  class="inline-flex items-center justify-center relative z-10 rounded-full bg-[var(--bg)] text-xs px-2 py-1 font-medium text-[var(--fg)] hover:bg-[var(--fg)]/10 border border-[var(--fg)]/20 hover:border-[var(--fg)]/40 transition-colors duration-100"
>
  {tag}
</a>
